<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.plugins.mapper.UserMapper">

    <select id="countUser" resultType="int">
        <![CDATA[
        select count(*) from user
        ]]>
    </select>
    
    <select id="getList" resultType="User">
		<![CDATA[
		select * from user
		]]>
	</select>

    
</mapper>